*
{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

nav
{
    height: 80px;
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center
}
nav> h1
{
    font-size: 18px;
    margin-left: 10px;
}
nav > .article >button 
{
         padding: 10px 20px;
         border-radius: 10px;
         border: none;
         background-color: orangered;
         color: white;
         margin-left: 20px;
         margin-right: 20px;
}
nav> .article>button:active
{
    background-color: green;
}
nav> .article>input
{
    padding: 10px;
    border: none;
    border-radius: 5px;
}
main{
    height: calc(100vh-80px);
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
}
main > .card > img{
       height: 150px;
}
.card{
    text-align: center;
    box-shadow: 3px 5px 4px  ;
    border-radius: 10px;
    transition: transform 0.4s ease-in;
    background-color: rgb(247, 236, 224);
    margin-top: 20px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;

}
.card:hover{
    transform: scale(1.04);
}
